@import "../../sass/variable.scss";



.allLogPage{
    margin: 0 auto;
    margin-top: 25px;
    min-height: 400px;
    margin-bottom: 100px;
    padding-bottom: 70px; /* height of your footer */
    position: relative;
    clear: both;
}